i {
	color: orange;
}
img {
	aspect-ratio: 16/9;
	object-fit: cover;
	display: block;
	margin: auto;
	padding: 10px;
}
#cards-container {
	/* background-color: pink; */
	display: grid;
	gap: 15px;
	grid-template-rows: min-content;
}
.card {
	/* background-color: green; */
	padding: 20px;
	box-shadow: 0 0 15px rgba(128, 128, 128, 0.479) ;
	border-radius: 10%;
	height: fit-content;
	aspect-ratio: 1;
	max-width: 260px;
	background-color: rgba(227, 244, 255, 0.473);
}
.card div {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
}