.card .fa-star {
	color: orange;
}
img {
	aspect-ratio: 16/9;
	object-fit: cover;
	display: block;
	margin: auto;
	padding: 10px;
}
#cards-container {
	display: grid;
	gap: 15px;
	grid-template-rows: min-content;
	margin: 20px auto;
}
.card {
	padding: 20px;
	box-shadow: 0 0 15px rgba(128, 128, 128, 0.479) ;
	border-radius: 10%;
	max-width: 250px;
	margin-top: 30px;
	background-color: rgba(255, 207, 136, 0.836);
	position: relative;
}
.card div {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
}
.fa-trash {
	position: absolute;
	top: -10px;
	right: 0px;
	background-color: rgba(255, 182, 206, 0.973);
	padding: 8px;
	color: rgb(255, 68, 68);
	border-radius: 50%;
	display: none;
}
.fa-trash:hover {
	filter: brightness(110%);
}
.card a {
	text-decoration: none;
	color: rgb(43, 43, 43);
}
.workout-title {
	padding-bottom: 10px;
}