@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
.checked {
  color: rgb(255, 157, 29);
}
.fa {
  cursor: pointer;
}
form div {
  width: max-content;
}
img{
  width: 200px;
}
form {
  width: 300px;
  min-width: 250px;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  margin: 0 20px;
  /* border-right: 3px solid rgb(211, 202, 202); */
  font-family: 'Rubik', sans-serif;
  box-shadow: 5px 0 3px -2px #fbff0030;
}
form img {
  margin: 5px auto;
}
label {
  display: flex;
  justify-content: space-between;
  margin: 10px ;
}
label[for='url'] {
  font-size: 25px;
}
hr {
  width: 80%;
}
input {
  padding: 5px 8px;
  border: 1px solid rgba(143, 140, 140, 0.452);
  border-radius: 5px;
}
form button {
  margin: 20px auto;
  padding: 15px;
  width: 170px;
  background-color: orange;
  font-family: 'rubik', sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
}
form button:hover {
  filter: saturate(200%);
}