@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
.checked {
  color: rgb(255, 157, 29);
}
.fa {
  cursor: pointer;
}
form div {
  width: max-content;
}
img{
  width: 200px;
}
form {
  width: 300px;
  min-width: 250px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin:  20px;
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
  box-shadow: 0 0 50px #ff5e2d3a;
  outline: 3px solid #ff5e2d69 ;
}
form img {
  margin: 5px auto;
}
form h3 {
  margin: 10px auto;
}
label {
  display: flex;
  justify-content: space-between;
  margin: 5px ;
}
label[for='url'] {
  font-size: 25px;
}
hr {
  width: 80%;
  border: 1px solid #ff5e2d3a;
}
input {
  padding: 5px 8px;
  border: 1px solid rgba(143, 140, 140, 0.452);
  border-radius: 5px;
}
form button {
  margin: 20px auto;
  padding: 15px;
  width: 170px;
  background-color: orange;
  font-family: 'rubik', sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
}
form button:hover {
  filter: saturate(200%);
}